.products {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1036px;
  gap: 20px;

  &__header {
    background-color: #ffffff;
    border-radius: 16px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    gap: 20px;
    justify-content: center;
    width: 100%;
  }
}
